body {
    background: linear-gradient(to right, black, gray);
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.boite {
    background-color: black;
    color: white;
    width: 150px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}

a {
    color: white;            /* couleur du lien */
    text-decoration: none;    /* retire le soulignement */
    font-weight: bold;
}   